*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: rgb(20, 238, 238);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.search-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}
.input {
  width: 280px;
  height: 60px;
  outline: transparent;
  border-radius: 20px;
  border: 5px solid rgb(240, 138, 155);
}
.input:focus-within {
  border: 5px solid rgb(20, 195, 20);
}
.btn {
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  width: 150px;
  height: 50px;
  border: 3px solid rgb(230, 126, 216);
  border-radius: 20px;
  background-color: rgb(226, 146, 193);
}
.btn:hover,
.btn:focus {
  background-color: rgb(91, 200, 109);
  border: 3px solid rgb(49, 155, 39);
}
.button.is-hidden {
  display: none;
}

.button > .spinner.is-hidden {
  display: none;
}
.text {
  color: rgb(12, 228, 228);
  font-weight: bold;
  font-size: 15px;
}
.text:focus,
.text:hover {
  color: rgb(18, 18, 224);
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  margin-left: -30px;
  margin-top: -30px;
}
.gallery-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 4 * 30px) / 4);
}
.photo-card {
  display: inline-block;
}
